<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3c.org/TR/1999/REC-html401-19991224/loose.dtd">
<html lang=en xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>{judulku}</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<meta name="author" content="{author}">
<meta name="description" content="{description}">
<meta name="url" content="{url}">
<meta name="keywords" content="{keywords}">
<link href="{sumber}/inc/style/sisfokol.css" rel="stylesheet" type="text/css">
<link href="{sumber}/inc/style/flexdropdown.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="{sumber}/inc/js/jquery.js"></script>
<script type="text/javascript" src="{sumber}/inc/js/flexdropdown.js"></script>
<!--
///////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////
/////// SISFOKOL-UjianOnline                                    ///////
///////////////////////////////////////////////////////////////////////
/////// Dibuat oleh :                                           ///////
/////// Agus Muhajir, S.Kom                                     ///////
/////// URL 	:                                               ///////
///////     * https://github.com/hajirodeon                     ///////
/////// E-Mail	:                                               ///////
///////     * hajirodeon@yahoo.com                              ///////
///////     * hajirodeon@gmail.com                              ///////
/////// SMS/WA/TELEGRAM	: 081-829-88-54                         ///////
///////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////

//-->
</head>

<body bgcolor="#FFFFFF" text="#000000" leftmargin="0" topmargin="0" onLoad="{diload}">
<div align="center">
	
	
<table width="1200" border="0" cellpadding="0" cellspacing="0" bgcolor="orange">
<tr>
<td align="left">



  <TABLE WIDTH=1000 BORDER=0 CELLPADDING=3 CELLSPACING=0>
    <TR bgcolor="#7796d5" background="{sumber}/img/header.png">
<td width="50">
<img src="{sumber}/img/logo.png" width="50" height="50" border="0">
</td>
      <TD>
	  <font color="#FFFFFF">
	  <big><strong>{sek_nama}</strong></big>
	  <br>
	  <em>{sek_alamat}</em>
	  <br>
	  <em>{sek_kontak}</em>
	  </font>
	  </TD>
    </TR>
  </TABLE>
 <table width="1000" height="500" border="0" cellpadding="0" cellspacing="0" bgcolor="#eaddbe">
    <tr>
      <td valign="top">
	  {isi}
	  <br>
	  <br>
	  <br>
	  </td>
    </tr>
  </table>
  <table width="1000" border="0" cellpadding="5" cellspacing="0" bgcolor="#7796d5">
    <tr>
      <td align="right">
	  <font color="black">
	  &copy;2018. {versi}
	  </font>
	  </td>
    </tr>
  </table>
  
  

</td>



</tr>
</table>



</div>
</body>
</html>